@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --color-grey-4: #212529;
  --color-grey-3: #868E96;
  --color-grey-2: #E9ECEF;
  --color-grey-1: #F8F9FA;
  --color-grey-0: #ffffff;

  --color-primary-1:#FD377E;
  --color-primary-2: #E34981;
  --color-secondary:  #03B898;
  
  --font-size-0: 2.37rem;
  --font-size-1: 1.75rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;
  --font-size-5: 0.87rem;
  --font-size-6: 0.75rem;

  --radius: 4px;
  --radius-input: 8px;
}

html{
  background-color: var(--color-grey-0);
  font-family: 'Nunito', sans-serif;
  color: var(--color-grey-4);
}

.container{
  max-width: 52.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
